<div class="container">
 <div class="row">
  <div class="col-md-8 offset-md-2">
   <div class="title">
    <%= @article.title %>
   </div> 
   <div>
    <%= @article.content %>
   </div>
   <div>
    <% if admin_signed_in? %>
     <%= link_to "編集", edit_article_path(@article) %>
    <% end %>
   </div>
  </div>
 </div> 
</div>  