<div class="container">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/admins/tag_post_regions/new">タグ(投稿/地域)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/admins/tag_post_businesses/new">タグ(投稿/起業)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/admins/tag_profile_regions/new">タグ(ユーザー/地域)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/admins/tag_profile_businesses/new">タグ(ユーザー/起業)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/articles/new">新規記事作成</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/articles">記事一覧</a>
    </li>
  </ul>
</div>