<% provide(:button_text, '送信') %>
<%#= render "shared/error_messages", object: message %>
<%= form_with model: message do |f| %>
    <div id="error_messages">
     <%= render "shared/error_messages", object: message %>
    </div>
  <%= f.text_area :content, class: 'form-control' %>
  <div style="margin-top: 20px;"><%= f.submit yield(:button_text), class: "btn btn-primary" %></div>
<% end %>