<h1>Welcome</h1>
<!--<!DOCTYPE html>-->
<!--<html lang="ja">-->
<!--  <head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <title>Bootstrap3基本テンプレート</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">-->
<!--    [if lt IE 9]>-->
<!--      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>-->
<!--      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
<!--    <![endif]-->-->
<!--    <style>-->
<!--      .mt-2 {-->
<!--        margin-top: 10px;-->
<!--      }-->
<!--    </style>-->
<!--  </head>-->
<!--  <body>-->
<!--    <div class="container">-->
<!--      <div class="row mt-2">-->
<!--        <h1 class="text-center text-danger">Bootstrap Grid</h1>-->
<!--      </div>-->
<!--      <div class="row mt-2">-->
<!--        <div class="col-sm-6">-->
<!--          <img src="images/1.jpg" style="width: 100%;">-->
<!--        </div>-->
<!--        <div class="col-sm-6 row">-->
<!--          <div class="col-sm-3">-->
<!--            <img src="images/2.jpg" style="width: 100%;">-->
<!--          </div>-->
<!--          <div class="col-sm-3">-->
<!--            <img src="images/3.jpg" style="width: 100%;">-->
<!--          </div>-->
<!--          <div class="col-sm-3">-->
<!--            <img src="images/4.jpg" style="width: 100%;">-->
<!--          </div>-->
<!--          <div class="col-sm-3">-->
<!--            <img src="images/1.jpg" style="width: 100%;">-->
<!--          </div>-->
<!--          <div class="col-sm-3 mt-2">-->
<!--            <img src="images/2.jpg" style="width: 100%;">-->
<!--          </div>-->
<!--          <div class="col-sm-3 mt-2">-->
<!--            <img src="images/3.jpg" style="width: 100%;">-->
<!--          </div>-->
<!--          <div class="col-sm-3 mt-2">-->
<!--            <img src="images/4.jpg" style="width: 100%;">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      
<!--      <div class="row mt-2">-->
<!--        <h1 class="text-center text-primary">Carousel</h1>-->
<!--      </div>-->
<!--      <div id="sampleCarousel" class="carousel slide row offset-sm-3 col-sm-6" data-ride="carousel">-->
<!--      	<ol class="carousel-indicators">-->
<!--      		<li class="active" data-target="#sampleCarousel" data-slide-to="0"></li>-->
<!--      		<li data-target="#sampleCarousel" data-slide-to="1"></li>-->
<!--      		<li data-target="#sampleCarousel" data-slide-to="2"></li>-->
<!--      	</ol>-->
<!--      	<div class="carousel-inner" role="listbox">-->
<!--      		<div class="item active">-->
<!--      			<img src="images/1.jpg" alt="First slide">-->
<!--      		</div>-->
<!--      		<div class="item">-->
<!--      			<img src="images/2.jpg" alt="Second slide">-->
<!--      		</div>-->
<!--      		<div class="item">-->
<!--      			<img src="images/3.jpg" alt="Third slide">-->
<!--      		</div>-->
<!--      	</div>-->
<!--      	<a class="left carousel-control" href="#sampleCarousel" role="button" data-slide="prev">-->
<!--      		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
<!--      		<span class="sr-only">前へ</span>-->
<!--      	</a>-->
<!--      	<a class="right carousel-control" href="#sampleCarousel" role="button" data-slide="next">-->
<!--      		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
<!--      		<span class="sr-only">次へ</span>-->
<!--      	</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>-->
<!--  </body>-->
<!--</html>-->