<div class="container">
  <div class="row">
   <% @user_profiles.each do |user_profile| %>
     <div class="card"> 
      <%= render "layouts/user_profile_region", user_profile: user_profile, profile_type1_flag: @profile_type1_flag %>
      <%= link_to "もっと見る", user_profile_path(user_profile.id) %> 
     </div>
   <% end %>
   <% @user_profiles.each do |user_profile| %>
     <div class="card"> 
      <%= render "layouts/user_profile_business", user_profile: user_profile, profile_type2_flag: @profile_type2_flag %>
      <%= link_to "もっと見る", user_profile_path(user_profile.id) %> 
     </div>
   <% end %>
  </div>
</div>