<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
     <h1 class="text-center text-black">タグ登録（起業希望者投稿）</h1>  
     <%= bootstrap_form_with(model: @category_earnest, url: category_earnest_path, local: true) do |f| %>
      <%= f.text_field :tag_name, label:"やりたいこと" %>
      <%= f.submit "登録" %>
     <% end %>
     
     <h5>登録済のタグ</h5>
     <% @category_earnests.each do |category_earnest| %>
     <div>
      <%= category_earnest.tag_name %>
     <% end %>
     </div> 
    </div>
  </div> 
</div>   