<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
     <h1 class="text-center text-black">タグ登録（土の人投稿）</h1>
     <%= bootstrap_form_with(model: @category_market, url: category_market_path, action: "update", local: true ) do |f| %>
      <%= f.text_field :tag_name, label:"需要" %>
      <%= f.submit "登録"%>
     <% end %>
     <% @category_markets.each do |category_market| %>
      <%= category_market.tag_name %>
     <% end %>
    </div> 
  </div>
</div> 