<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
     <% if post.public_status_id == 1 %>
      <%= render "layouts/post_card", post: post %>
     <% end %>
    <% end %>
 </div>
</div>