.profile-avatar {
  border-radius: 200px;
   width: 50%;
}

.profile-avatar-small {
  border-radius: 200px;
  width: 100%;
}

.label {
  font-weight: bold;
}

.public_status {
  margin: 50px;
}

.submit {
  margin: 100px;
}

.title {
  color: grey;
  font-size: xx-large;
}

label.required:after {
  content:" *";
}

.screen_name {
  color: grey;
  font-size: x-small;
  text-decoration-line: none;
}

.icon-heart {
  width: 15px;
  height: 15px;
}

.icon-liked-heart {
  width: 15px;
  height: 15px;
  filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
}

// .article-card {
//   float: left;
// }

// messages
.profile-avatar-message {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#messages {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 0;
    // border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: flex-start;
  }

  .content {
    display: inline-block;

    .message {
      padding: 20px;
      display: inline-block;
      // background:$gray-medium-light;
      border-radius: 10px;
    }

    .timestamp {
      // color: $gray-light;
      display: block;
      font-size: .75em;
    }
  }

  .gravatar {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }

  li.my-content{
    justify-content: flex-end;
    text-align: right;
    .message {
      // background:#71151a;
      border-radius: 10px;
      // color: #fff;
    }

    .gravatar{
      display: none;
    }
  }
}

  .message-text{
    height: 50px;
    overflow: hidden;
  }