.profile-avatar {
  border-radius: 200px;
   width: 50%;
}

.profile-avatar-small {
  border-radius: 200px;
  width: 100%;
}

.label {
  font-weight: bold;
}

.public_status {
  margin: 50px;
}

.submit {
  margin: 100px;
}

.title {
  
}

label.required:after {
  content:" *";
}

.screen_name {
  color: grey;
  font-size: x-small;
  text-decoration-line: none;
}

.icon-heart {
  width: 15px;
  height: 15px;
}

.icon-liked-heart {
  width: 15px;
  height: 15px;
  filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
}