div.user_profile_profile_type1 {
  display:none;
}
input[type=checkbox]:checked ~ div.user_profile_profile_type1 {
  display:block;
}
div.user_profile_profile_type2 {
  display:none;
}
input[type=checkbox]:checked ~ div.user_profile_profile_type2 {
  display:block;
}

.profile-avatar {
  border-radius: 200px;
  width: 100%;
}

.label {
  font-weight:bold
}