<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
     <h1 class="text-center text-black">タグ登録（起業希望者投稿）</h1> 
     <%= render partial: "layouts/tags/tag_form", locals: { model: @category_about_region, title: "地域について", categories: @category_about_regions, category_name: @category_about_region }%>
    </div>
  </div> 
</div>   